.header{
    height: 500px;
    background-size: cover;
    background-color: rgba(26, 25, 25, 0.5);
    background-blend-mode: darken;
}
.title{
    font-size: 34px;
    font-weight: 600;
    padding-top: 60px;
    color: white;
    text-align: center;
    animation: slideDown 2s ease-out;
}
@keyframes slideDown {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}