body{
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}
#kontakt{
    overflow: hidden;
    background-color: #f2f2f2;
    position: relative;
}
#kontakt h1 {
    color: rgb(199, 50, 50);
    text-align: center;
}
#kontakt p {
    text-align: center;
    font-style: italic;
}
#informacje {
    padding: 30px;
    background-color: rgb(231, 231, 231);
    width: 30%;
    border: 5px solid rgb(199, 50, 50);
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 3;
    margin-left: 50px;
    font-size:calc(10px + 0.5vw);
}
#mapa {
    width: 100%;
}