body{
    background-color: #ffed8a;
    background-image: linear-gradient(to left, #ffd59f, #f5b461);
    font-family: 'Lato', sans-serif;
}
#menu{
    width: 100%;
    background-color: #ffed8a;
    background-image: linear-gradient(to left, #ffd59f, #f5b461);
}
#menu h1 {
    text-align: center;
    color: rgb(199, 50, 50);;
}
#menu p {
    text-align: center;
    font-style: italic;
    color: white;
}
.pizza{
    color: white;
    display: flex;
    margin-left: 15%;
    box-sizing: border-box;
    flex-wrap: wrap;

}
.zdjeciepizza{
    margin-top: 10px;
    border-radius: 60%;
    width:100px ;
    height: 100px;
    background-color:  #8B4513;
}
.infopizza{
    margin-left: 1.5%;
    width: 30%;
}
.infopizza h1{
    letter-spacing: 1px;
}
.infopizza p {
    margin-left: 5%;
    font-style: italic;
    flex-wrap: wrap;

}
.ceny{
    display: flex; 
    align-items: baseline;
    color: white;
}
.pomocnicza{
    font-weight: 700;
    color: rgb(199, 50, 50);
    font-size: 20px;
}
.cenowka{
    height: 30px;
    margin-top: 15px;
    background-color: #c9934d;
    color: white;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
    text-align: center;
}
.cenowka:hover{
    cursor: pointer;
    background-color: #a87036;
    box-shadow: 0px 15px 20px rgba(201, 147, 77, 0.4), 0px 0px 50px rgba(201, 147, 77, 0.2);
    transform: translateY(-7px) scale(1.05);
}