body{
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}
#opinie{
    background-color: #f2f2f2;
}
#opiniecontent{
    color: black;
    text-align: center;
}
#opiniecontent h1{
    font-weight: 600;
    color: rgb(199, 50, 50);
}
#opiniecontent p{
    margin-bottom: 30px;
}
.opinions {
    border-radius: 15px;
    width: 40%;
    border: 5px groove rgb(199, 50, 50);
    background-color: rgb(231, 236, 239);
    float: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    line-height: 1.6;
    font-size:calc(8px + 0.3vw);
    margin-top: 15px;
}
.opinions:hover{
    background-color: rgb(233, 233, 233);
}
.opinions h1{
    text-align: center;
    font-style: initial;
    font-family: 'Calistoga', sans-serif;
}
.opinions h3{
    text-align: center;
}
.opinions p {
    padding-left: 15px;
    font-size: 20px;
    font-style: italic;
}
#poletekstowe {
    margin: auto;
    width: 20%;
    padding: 20px;
    background-color: rgb(199, 50, 50);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(128, 18, 18);
}
#poletekstowe form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poletekstowe input, #poletekstowe textarea {
    margin-bottom: .5rem; 
    padding: .375rem .75rem;
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    width: 50%; 
    box-sizing: border-box; 
}
#poletekstowe textarea {
    width: 100%;
}
#poletekstowe input[type="submit"] {
    background-color: #dc3545; 
    color: white;
    cursor: pointer;
    border: none; 
    font-size: 1rem;
    width: 50%; 
    width: auto;
}
#poletekstowe input[type="submit"]:hover {
    background-color: #e0a5ab;
    color: rgb(0, 0, 0);
}