body{
    background-color: rgb(163,206,241);
    font-family: 'Lato', sans-serif;
}
#opinie{
    background-color:  rgb(163,206,241);
}
#opiniecontent{
    color: white;
    text-align: center;
}
#opiniecontent h1{
    font-weight: 600;
    color: #3041db;
}
#opiniecontent p{
    font-size: 24px;
}
.opinions{
    border-radius: 15px;
    width: 40%;
    border: groove 5px rgb(126, 126, 126);
    background-color: rgb(231, 236, 239);
    float: left;
}
.opinions:hover{
    background-color: rgb(202, 202, 202);
}
.opinions h1{
    text-align: center;
    font-style: initial;
    font-family: 'Calistoga', sans-serif;
}
.opinions h3{
    text-align: center;
}
.opinions p {
    padding-left: 15px;
    font-size: 20px;
    font-style: italic;
}
#poletekstowe {
    margin: auto;
    width: 20%;
    padding: 20px;
    background-color: rgb(96,150,186);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
#poletekstowe form {
    display: flex;
    flex-direction: column;
}
#poletekstowe input, #poletekstowe textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#poletekstowe input[type="submit"] {
    background-color: rgb(71, 105, 218);
    color: white;
    cursor: pointer;
}

#poletekstowe input[type="submit"]:hover {
    background-color: #ffffff;
    color: black;
}