body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
#header{
    overflow: hidden;
    width: 100%;
    height: 750px;
    background-image: url(photos/background.png);
    background-size: cover;
    background-color: rgba(26, 25, 25, 0.5);
    background-blend-mode: darken;
}
#pasekwyboru{
    margin-top: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    flex-wrap: wrap;
}
.logopng{
    border-radius: 50px;
    border: 1px solid black;
}
.opcja{
    color: white;
    padding: 40px;
    margin: 10px;
    font-size: 24px;
}
.opcja:link{
    text-decoration: none;
}
.opcja:visited{
    text-decoration: none;
}
.opcja:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.opcja:active{
    text-decoration: none;
}
.clear{
    clear: both;
}
#podpis{
    position: relative;
    margin: auto;
    margin-left: 150px;
    margin-top: 60px;
    animation: slideDown 2s ease-out;
}
@keyframes slideDown {
    0% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0);
    }
}
#podpisheader{
    display: flex;
    flex-direction: column;
}
.ofertaheader{
    color: white;
}
.ofertaheader p{
    font-size: 24px;
    font-weight: bold;
}
#przyciskmenu{
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 170px;
    background-color: rgb(199, 50, 50);
}
#przyciskmenu:link{
    text-decoration: none;
}
#przyciskmenu:visited{
    text-decoration: none;
}
#przyciskmenu:hover{
    text-decoration: none;
    border: solid 1px black;
    background-color: white;
    color: black;
}
#przyciskmenu:active{
    text-decoration: none;
}
.space{
    height: 10px;
    background-color: rgb(199, 50, 50);
}
#content{
    background-image: url(photos/test.jpg);
    background-color: rgba(26, 25, 25, 0.5);
    background-blend-mode: darken;
}
#inside{
    padding-top: 30px;
    margin-left: 150px;
}
#status{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
}
.onas {
    font-family: 'Lato', sans-serif;
    padding: 1.25rem; 
    border: .3125rem solid #dc3545; 
    border-radius: .9375rem; 
    background-color: #fff0d5;
    color: #000000;
    align-items: center;
    width: 30%;
    font-size: 1.45rem;
    margin-right: .9375rem;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .kolaz {
    width: 30%;
    border-radius: .9375rem;
    background-color: #fff0d5;
    border: .3125rem solid #dc3545;
}

.onas, .kolaz {
    display: inline-block;
    vertical-align: top;
}
#footer{
    background-color: #1b1b1b;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px; 
}
#lewo, #prawo{
    width: 50%;
}
#prawo{
    text-align: right;
}
#copy{
    width: 100%;
    text-align: center;
}
a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
  }
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }